<p id="notice"><%= notice %></p>

<h1>Listing Auothers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auothers.each do |auother| %>
      <tr>
        <td><%= auother.name %></td>
        <td><%= link_to 'Show', auother %></td>
        <td><%= link_to 'Edit', edit_auother_path(auother) %></td>
        <td><%= link_to 'Destroy', auother, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auother', new_auother_path %>
